.page-desc {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (max-width: 1050px) {
    width: 70%;
  }

  @media screen and (max-width: 600px) {
    width: 90%;
  }
}

.page-item {
  display: flex;
  width: 45%;
  margin-bottom: 2rem;

  @media screen and (max-width: 600px) {
    width: 90%;
    margin: 1rem auto;
  }

  &__icon {
    padding: 1rem;
  }

  &__desc {
    padding: 1rem;
    padding-left: 3.5rem;
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
