.personalize {
  background: url("./assets/slanted-gradient-background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 25.4rem;
  display: flex;
  justify-content: center;
  position: relative;

  &__text {
    width: 60%;
    position: absolute;
    bottom: 15%;
    color: #fff;
    font-size: 3rem;
    text-align: center;

    @media screen and (max-width: 1050px) {
      font-size: 2.2rem;
      width: 70%;
    }

    @media screen and (max-width: 600px) {
      font-size: 1.6rem;
      width: 90%;
    }
  }
}
