*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // Defines what 1 rem is
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.btn {
  cursor: pointer;
  width: $button-width;
  height: $button-height;
  border-radius: $button-border-radius;
  border: none;
  font-family: inherit;
  font-size: 1.6rem;
  letter-spacing: 2px;
  color: #fff;
  background: linear-gradient(to right, $color-orange, $color-orange-light);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: 0.2s all;
  outline: none;

  &:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
  }
}
