// COLORS
$color-orange: #f36819;
$color-orange-light: #f7931d;
$color-blue: #1676dd;
$color-blue-dark: #283647;

$color-brown-hero-overlay: linear-gradient(
  to right,
  rgba(#f36819, 0.3),
  rgba(#000000, 0.3)
);

// SIZINGS
$button-width: 2.15rem;
$button-height: 4rem;
$button-border-radius: 0.5rem;
