*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

.btn {
  cursor: pointer;
  width: 21.5rem;
  height: 4rem;
  border-radius: 0.5rem;
  border: none;
  font-family: inherit;
  font-size: 1.6rem;
  letter-spacing: 2px;
  color: #fff;
  background: linear-gradient(to right, #f36819, #f7931d);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: 0.2s all;
  outline: none; }
  .btn:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transform: translateY(2px); }

.header {
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1676dd; }
  .header__logo {
    max-height: 75%; }

.hero {
  margin-bottom: 6rem; }
  .hero__item {
    height: 50.9rem;
    position: relative;
    background-size: cover; }
    .hero__item--1 {
      background-image: linear-gradient(to right, rgba(243, 104, 25, 0.3), rgba(0, 0, 0, 0.3)), url("./assets/hero-img.jpg");
      background-position: 50%, 55%; }
      @media screen and (max-width: 600px) {
        .hero__item--1 {
          background-position: 50%, 30%; } }
    .hero__item--2 {
      background-image: linear-gradient(to right, rgba(243, 104, 25, 0.3), rgba(0, 0, 0, 0.3)), url("./assets/iStock-503300108.jpg");
      background-position: 50%, 50%; }
    .hero__item--3 {
      background-image: linear-gradient(to right, rgba(243, 104, 25, 0.3), rgba(0, 0, 0, 0.3)), url("./assets/iStock-613672992.jpg");
      background-position: 50%, 25%; }
  .hero__content {
    position: absolute;
    left: 13%;
    bottom: 20%; }
  .hero__title {
    font-size: 4.8rem;
    font-weight: bold;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 1.5rem; }
    @media screen and (max-width: 1050px) {
      .hero__title {
        font-size: 4rem; } }

.page-desc {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media screen and (max-width: 1050px) {
    .page-desc {
      width: 70%; } }
  @media screen and (max-width: 600px) {
    .page-desc {
      width: 90%; } }

.page-item {
  display: flex;
  width: 45%;
  margin-bottom: 2rem; }
  @media screen and (max-width: 600px) {
    .page-item {
      width: 90%;
      margin: 1rem auto; } }
  .page-item__icon {
    padding: 1rem; }
  .page-item__desc {
    padding: 1rem;
    padding-left: 3.5rem;
    font-size: 1.4rem;
    line-height: 2rem; }

.personalize {
  background: url("./assets/slanted-gradient-background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 25.4rem;
  display: flex;
  justify-content: center;
  position: relative; }
  .personalize__text {
    width: 60%;
    position: absolute;
    bottom: 15%;
    color: #fff;
    font-size: 3rem;
    text-align: center; }
    @media screen and (max-width: 1050px) {
      .personalize__text {
        font-size: 2.2rem;
        width: 70%; } }
    @media screen and (max-width: 600px) {
      .personalize__text {
        font-size: 1.6rem;
        width: 90%; } }

.cutting-edge {
  width: 60%;
  margin: 6rem auto; }
  @media screen and (max-width: 1050px) {
    .cutting-edge {
      width: 70%; } }
  @media screen and (max-width: 600px) {
    .cutting-edge {
      width: 90%;
      margin-bottom: 3rem; } }
  .cutting-edge__header {
    color: #283647;
    font-size: 2.8rem;
    text-transform: uppercase;
    text-align: center; }
    .cutting-edge__header span {
      font-weight: bold;
      color: #f36819; }
    .cutting-edge__header--bottom {
      margin-top: 10rem; }
      @media screen and (max-width: 600px) {
        .cutting-edge__header--bottom {
          margin-top: 5rem; } }

.cutting-edge-about {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 3rem; }
  @media screen and (max-width: 600px) {
    .cutting-edge-about {
      flex-direction: column; } }
  .cutting-edge-about__desc {
    width: 50%;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #283647; }
    @media screen and (max-width: 600px) {
      .cutting-edge-about__desc {
        margin: 0 auto;
        margin-bottom: 1rem;
        width: 90%; } }
  .cutting-edge-about__btn-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media screen and (max-width: 600px) {
      .cutting-edge-about__btn-container {
        margin: 0 auto;
        width: 90%; } }

.cutting-edge-stats {
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 600px) {
    .cutting-edge-stats {
      flex-direction: column; } }

.cutting-edge-stats-item {
  display: flex;
  flex-direction: column;
  width: 20%;
  text-align: center;
  margin-top: 2rem; }
  @media screen and (max-width: 600px) {
    .cutting-edge-stats-item {
      width: 70%;
      margin: 1rem auto; } }
  .cutting-edge-stats-item__header {
    font-size: 5.5rem;
    letter-spacing: 2px;
    font-weight: bold;
    color: #283647;
    transition: 0.2s all; }
    @media screen and (max-width: 850px) {
      .cutting-edge-stats-item__header {
        font-size: 4rem; } }
    @media screen and (max-width: 600px) {
      .cutting-edge-stats-item__header {
        font-size: 3rem; } }
    .cutting-edge-stats-item__header:hover {
      transform: translateY(-1rem); }
  .cutting-edge-stats-item__desc {
    font-size: 1.6rem;
    color: #f36819; }
    @media screen and (max-width: 850px) {
      .cutting-edge-stats-item__desc {
        font-size: 1.3rem; } }

.checkerboard {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem; }
  @media screen and (max-width: 850px) {
    .checkerboard {
      flex-direction: column-reverse; } }

.checkerboard-info {
  width: 49%;
  padding: 5rem 10rem; }
  @media screen and (max-width: 1050px) {
    .checkerboard-info {
      padding: 2rem 6rem; } }
  @media screen and (max-width: 850px) {
    .checkerboard-info {
      margin: 0 auto;
      width: 70%; } }
  @media screen and (max-width: 600px) {
    .checkerboard-info {
      padding: 1rem;
      width: 80%; } }
  .checkerboard-info__h3 {
    font-size: 2.8rem;
    font-weight: normal;
    color: #f36819;
    margin-bottom: 0.5rem; }
    @media screen and (max-width: 600px) {
      .checkerboard-info__h3 {
        font-size: 1.8rem; } }
  .checkerboard-info__h4 {
    font-size: 2rem;
    font-weight: normal;
    color: #f7931d;
    letter-spacing: 2px;
    margin-bottom: 2.5rem; }
    @media screen and (max-width: 600px) {
      .checkerboard-info__h4 {
        font-size: 1.6rem; } }
  .checkerboard-info__about {
    font-size: 1.4rem;
    line-height: 2rem;
    color: #283647; }

.checkerboard-image {
  width: 49%; }
  @media screen and (max-width: 850px) {
    .checkerboard-image {
      margin: 0 auto;
      width: 70%; } }
  @media screen and (max-width: 600px) {
    .checkerboard-image {
      width: 80%; } }
  .checkerboard-image__img {
    width: 100%; }
    .checkerboard-image__img::after {
      content: "";
      clear: both;
      display: table; }
  @media screen and (max-width: 850px) {
    .checkerboard-image {
      order: 1; } }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
  color: #fff; }
  .modal__header {
    font-size: 2.8rem;
    font-weight: normal;
    color: #f7931d;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem; }

.modal-body {
  position: fixed;
  max-width: 60rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.modal-form {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem; }
  .modal-form label {
    padding: 1rem; }
  .modal-form input {
    max-width: 100%;
    border-radius: 5px;
    border: none;
    padding: 1rem; }
  .modal-form textarea {
    border-radius: 5px; }
  .modal-form__button-container {
    margin: 0 auto;
    margin-top: 2rem; }
  .modal-form__half-width {
    display: inline-flex;
    flex-direction: column; }
    .modal-form__half-width:not(:last-of-type) {
      margin-right: 2.5rem; }

.modal-show {
  display: block; }

.modal-hide {
  display: none; }

.modal-show-button {
  background-color: #f36819;
  width: 5rem;
  height: 4rem;
  border: none;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  position: fixed;
  right: 0;
  top: 40%;
  z-index: 999;
  cursor: pointer; }

.tribute {
  width: 60%;
  margin: 6rem auto; }
  .tribute .slick-slider {
    margin-top: 2rem; }

.tribute-item {
  margin: 0 auto;
  margin-top: 4rem;
  padding: 1rem 3rem;
  border: 1px solid rgba(40, 54, 71, 0.4);
  border-radius: 5px 5px 0 0;
  max-width: 90%; }
  .tribute-item__image {
    width: 80%;
    max-width: 22.3rem;
    max-height: 22.3rem;
    margin: 0 auto;
    transform: translateY(-4rem);
    margin-bottom: -2rem; }
  .tribute-item__desc {
    font-size: 1.4rem;
    line-height: 2rem; }

.slick-next {
  transform: translate(1rem, -50%);
  width: 0;
  height: 0;
  border-top: 3.5rem solid transparent;
  border-bottom: 3.5rem solid transparent;
  border-left: 3.5rem solid #283647; }
  .slick-next::before {
    content: ""; }
  @media screen and (max-width: 600px) {
    .slick-next {
      transform: translate(0, -50%);
      border-top: 2rem solid transparent;
      border-bottom: 2rem solid transparent;
      border-left: 2rem solid #283647; } }

.slick-prev {
  transform: translate(-3rem, -50%);
  width: 0;
  height: 0;
  border-top: 3.5rem solid transparent;
  border-bottom: 3.5rem solid transparent;
  border-right: 3.5rem solid #283647; }
  @media screen and (max-width: 600px) {
    .slick-prev {
      transform: translate(-2rem, -50%);
      border-top: 2rem solid transparent;
      border-bottom: 2rem solid transparent;
      border-right: 2rem solid #283647; } }
  .slick-prev::before {
    content: ""; }

@media screen and (max-width: 600px) {
  .tribute .slick-dots {
    transform: translateY(2rem); } }

.footer {
  padding-top: 6rem;
  padding-bottom: 8rem;
  margin-top: 15rem;
  background: linear-gradient(to right, rgba(247, 104, 28, 0.3), rgba(0, 0, 0, 0.3));
  color: #283647; }

.footer-container {
  width: 60%;
  margin: 0 auto; }
  @media screen and (max-width: 600px) {
    .footer-container {
      width: 80%; } }

.footer-input-container {
  display: flex;
  justify-content: space-between; }
  .footer-input-container__input {
    width: 70%;
    max-width: 60rem;
    padding: 0.5rem 1rem;
    margin-right: 1rem; }

.footer-about {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between; }

.footer-about-links__header {
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 1rem;
  cursor: pointer; }

.footer-about-links p {
  font-size: 1.4rem;
  padding: 0.3rem;
  cursor: pointer; }
  .footer-about-links p:hover {
    color: #fff; }
